<template>
  <div class="add_cont">
    <h2>Add todo</h2>
    <div class="add">
      <input
        v-model="title"
        class="add_input"
        type="text"
        placeholder="Todo name"
        @keydown.enter="addTodo()"
      />
      <button @click="addTodo()" class="btn" type="button">+</button>
    </div>
  </div>
  <div class="all_todos">
    <h3 class="mytod">My todos</h3>
    <div class="todos_status">
      <a @click="all">Все /&nbsp;</a>
      <a @click="checked">Выполненные /&nbsp;</a>
      <a @click="unchecked">Не выполненные</a>
    </div>
    <div class="search_cont">
      <input
        class="search"
        type="search"
        placeholder="Search"
        v-model="filter"
      />
    </div>
    <div class="list_todo" style="">
      <div v-for="t in filt()" :key="t.id" class="todo" id="todoid">
        <h4 style="margin-left: 35px; font-size: 20px">{{ t.title }}</h4>
        <div style="margin-right: 35px">
          <label class="switch">
            <input
              type="checkbox"
              id="check"
              v-model="t.completed"
              @change="all"
            />
            <span class="slider round" v-if="completed"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Add",
  data() {
    return {
      title: "",
      completed: true,
      url: fetch("https://jsonplaceholder.typicode.com/todos")
        .then((data) => {
          return data.json();
        })
        .then((data) => {
          Array.prototype.push.apply(
            this.todos,
            data.sort((a, b) => a.completed - b.completed)
          );
        }),
      todos: [],
      addTodos: [],
      filter: "",
    };
  },
  mounted() {
    const todoData = localStorage.getItem("todo");
    if (todoData) {
      return (this.todos = JSON.parse(todoData));
    }
  },
  methods: {
    addTodo() {
      const newTodo = {
        title: this.title,
        userId: 1,
        id: Math.random(),
        completed: false,
      };
      this.todos.unshift(newTodo);
      this.addTodos.push(newTodo);
      this.title = "";
      this.filter = "";

      localStorage.setItem("todo", JSON.stringify(this.addTodos));
    },
    filt() {
      return this.todos.filter((todo) => todo.title.includes(this.filter));
    },
    all() {
      this.todos.sort(function (a, b) {
        return a.completed - b.completed;
      });
      return (this.filter = "");
    },
    unchecked() {
      let todosOriginal = this.todos;
      this.todos = todosOriginal.filter(function (t) {
        return t.completed !== true;
      });
      return (this.filter = "");
    },
    checked() {
      let todosOriginal = this.todos;
      this.todos = todosOriginal.filter(function (t) {
        return t.completed === true;
      });
      return (this.filter = "");
    },
  },
};
</script>

<style>
.add_cont {
  width: 520px;
  height: 170px;
  background-color: #ededed;
  border-radius: 5px;
  margin-right: 30px;
}
h2 {
  margin: 0;
  font-size: 20px;
  padding: 30px 0 30px 30px;
  font-weight: 700;
}
.add {
  padding-left: 30px;
  width: 450px;
}
.list_todo {
  overflow: scroll;
  height: 525px;
}
.list_todo::-webkit-scrollbar {
  width: 4px;
  background-color: #f9f9fd;
}
.list_todo::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00b3db;
}

.list_todo::-webkit-scrollbar-track {
  display: none;
}
input[type="text"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 450px;
  vertical-align: middle;
  border-radius: 6px;
  height: 55px;
  text-indent: 25px;
  font-size: 16px;
}
.btn {
  position: absolute;
  left: 555px;
  top: 330px;
  width: 45px;
  height: 40px;
  background-color: #00b3db;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.all_todos {
  width: 640px;
  height: 635px;
  border-radius: 6px;
  background-color: #ededed;
}
.mytod {
  margin: 0;
  padding: 50px 0 25px 40px;
  font-size: 20px;
}
.todos_status {
  display: flex;
  padding-left: 35px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
}
a:hover {
  color: #00b3db;
  font-weight: 400;
}
input[type="search"] {
  text-indent: 25px;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 40px;
}
.search_cont {
  position: absolute;
  right: 145px;
  top: 260px;
}
.todo {
  margin: 20px 30px 5px 30px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #00b3db;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
  opacity: 40%;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 415px) {
  h1 {
    text-align: left;
    margin: 40px 0 20px 30px !important;
    font-size: 30px !important;
  }
  .full_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add_cont {
    width: 340px;
    height: 150px;
    background-color: #ededed;
    border-radius: 5px;
    margin-right: 0;
  }
  .add {
    padding-left: 18px;
  }
  input[type="text"] {
    width: 300px;
  }
  .btn {
    left: 290px;
    top: 260px;
  }
  .search_cont {
    right: 32px;
    top: 410px;
  }
  .all_todos {
    width: 340px;
    height: 510px;
    margin-top: 5px;
  }
  .mytod {
    padding: 40px 0 90px 30px;
  }
  input[type="search"] {
    width: 310px;
  }
  .todos_status {
    display: none !important;
  }
  .list_todo {
    height: 370px;
  }
}
</style>
