<template>
<div class="container">
  <div class="blue_case"></div>
  <h1>Todo App</h1>
  <div class="full_container">
    <AllTod></AllTod>
  </div>
</div>
</template>

<script>
import AllTod from './components/AllTod.vue'

export default {
  name: 'App',
  components: {
    AllTod,
  }
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 50px 0 60px 120px;
  font-size: 45px;
}
.blue_case {
  width: 100%;
  height: 75px;
  background-color:#00B3DB;
}
.full_container {
  margin: 0 125px 0 125px;
  display: flex;
  justify-content: space-between;
}
</style>
